@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-3">
        <div class=" col-12">
            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold">Accounts</h6>
                </div>
                <div class="card-body">
                    The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!
                </div>
            </div>
        </div>
        <div class="col-12">
            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold">Recent Transactions</h6>
                </div>
                <div class="card-body">
                    The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-9">
        <!-- Bar Chart -->
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold">Budget</h6>
                </div>
                <div class="card-body">
                    <div class="chart-bar">
                        <canvas id="myBarChart"></canvas>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/chart-bar-demo.js"></script>
}